[submodule "vla-evaluation-harness"]
	path = vla-evaluation-harness
	url = https://github.com/allenai/vla-evaluation-harness
[submodule "cosmos-policy"]
	path = cosmos-policy
	url = https://github.com/NVlabs/cosmos-policy
[submodule "thirdparty/BEHAVIOR-1K"]
	path = thirdparty/BEHAVIOR-1K
	url = https://github.com/StanfordVL/BEHAVIOR-1K
[submodule "cosmos-framework"]
	path = cosmos-framework
	url = https://github.com/acensia/cosmos-framework.git
